@import "styles/mixins.scss";
@import "styles/extends.scss";

.experience {
  padding: 120px 0 0;

  @include xl {
    padding: 100px 0 0;
  }

  @include md {
    padding: 70px 0 0;
  }

  h2 {
    font-size: 60px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    @include xl {
      font-size: 55px;
    }

    @include md {
      font-size: 50px;
    }

    @include sm {
      font-size: 45px;
    }

    @include xs {
      font-size: 40px;

    }

    span {
      flex-grow: 1;
      height: 1px;
      background-color: var(--main-color);
      transform: translate(25px);

      &:first-of-type {
        display: none;
        transform: translate(-25px);

        @include sm {
          display: inline;
        }
      }
    }
  }

  .experiences {
    padding: 30px 0;

    .exp {
      margin-bottom: 10px;

      &::after {
        content: '~~~';
        width: 100%;
        color: var(--secondary-background);
        display: block;
        text-align: center;
        margin-top: 15px;
        font-size: 40px;
      }

      &:first-of-type {
        margin-top: 20px;
      }

      &:last-of-type {
        margin-bottom: 25px;

        &::after {
          display: none;
        }
      }

      h3 {

        i {
          color: var(--slate-color-dark);
          margin-inline-end: 10px;

          @include xs {
            display: none;
          }
        }

        span.company {
          color: var(--secondary-color);
          cursor: pointer;
          display: inline-block;
          width: fit-content;
          font-size: inherit;

          &::after {
            content: "";
            display: block;
            width: 0;
            height: 1px;
            background-color: var(--secondary-color);
            transition: all 0.3s ease;
          }

          &:hover {
            border-color: var(--secondary-color);

            &::after {
              width: 100%;
            }
          }
        }

        span.at {
          color: var(--slate-color-dark);
          margin-inline: 4px;
          font-size: inherit;
        }
      }

      .time_range {
        font-family: var(--font-mono);
        font-size: 14px;
        font-weight: 600;
        margin-inline-start: 40px;
        color: var(--slate-color-dark);

        @include xs {
          margin-inline-start: 10px;
        }
      }

      ul.job_items {
        margin: 0;
        padding: 0;
        margin-inline-start: 40px;

        @include xs {
          margin-inline-start: 10px;
        }

        li {
          margin-top: 10px;
          max-width: 85%;

          @include md {
            font-size: 15px;
          }

          @include sm {
            max-width: 100%;
          }

          @include xs {
            font-size: 14px;
          }

          &::before {
            content: "▹ ";
            color: var(--secondary-color);
          }
        }
      }
    }
  }
}