@import "styles/mixins.scss";
@import "styles/extends.scss";

.works {
  padding: 50px 0 0;

  @include xl {
    padding: 40px 0 0;
  }

  @include md {
    padding: 40px 0 0;
  }

  h2 {
    margin-top: 50px;
    font-size: 36px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    a {
      margin-inline-start: 10px;
      transition: all 0.3s ease;
    }

    a i {
      font-size: 29px;
    }

    @include xl {
      font-size: 34px;

      a i {
        font-size: 27px;
      }
    }

    @include md {
      font-size: 30px;

      a i {
        font-size: 25px;
      }
    }

    @include sm {
      font-size: 25px;

      a i {
        font-size: 21px;
      }
    }

    @include xs {
      font-size: 20px;

      a i {
        font-size: 17px;
      }
    }

    @include xxs {
      font-size: 16px;

      a i {
        font-size: 14px;
      }
    }

    span {
      flex-grow: 1;
      height: 1px;
      background-color: var(--main-color);
      transform: translate(25px);

      @include xs {
        transform: translate(15px);
      }

      &:first-of-type {
        transform: translate(-25px);

        @include xs {
          transform: translate(-15px);
        }
      }
    }
  }

  .container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 50px;

    .work {
      margin-top: 80px;
      width: calc(33.33% - 34px);

      @include xl {
        width: calc(50% - 25px);
      }

      @include md {
        width: 100%;
      }

      .work_image {
        width: 100%;
        border: 1px solid #eee;
        border-radius: 0px;
        overflow: hidden;
        transition: all 0.3s ease;

        @include lg {
          width: 100%;
          margin-bottom: 10px;
          order: 1;
        }

        &:hover {
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.07);
        }

        img {
          height: 500px;
          width: 100%;
          object-position: top;
          transition: all 1s linear;

          @include md {
            height: 400px;
          }

          @include xs {
            height: 350px;
          }

          &:hover {
            transition: all 4s linear;
            object-position: bottom;
          }
        }
      }

      .work_info {
        width: 100%;
        margin-top: 20px;

        @include lg {
          width: 100%;
          margin-top: 10px;
          order: 2;
          padding-inline-start: 0;
        }

        h3 {
          font-size: 36px;
          font-family: var(--font-mono);
          font-weight: bold;

          @include md {
            font-size: 30px;
          }
        }

        p.description {
          font-size: 14px;
        }

        p.stack {
          color: var(--bs-heading-color);
          font-family: var(--font-mono);
          margin-top: 10px;
          font-weight: bold;
          font-size: 16px;
        }

        .bottom {
          margin-top: 10px;
          display: flex;
          justify-content: space-between;

          @include sm {
            margin-top: 0;
          }

          @include xxs {
            flex-wrap: wrap;
          }

          ul {
            max-width: 75%;
            display: flex;
            padding: 0;
            margin: 0;
            flex-wrap: wrap;

            @include xxs {
              width: 100%;
              margin-bottom: 10px;
            }

            li {
              margin-bottom: 10px;
              margin-inline-end: 10px;
              width: 35px;
              height: 35px;

              @include sm {
                width: 36px;
                height: 36px;
              }

              @include xs {
                width: 32px;
                height: 32px;
              }

              @include xxs {
                width: 28px;
                height: 28px;
              }

              @include xxs {
                margin-bottom: 10px;
              }

              img {
                width: 100%;
                height: 100%;
              }

              &.compitable {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                @extend %fancyIcon;

                img {
                  object-fit: contain;
                  width: calc(100% - 6px);
                  height: calc(100% - 6px);
                  margin-inline-end: 0;
                }
              }
            }
          }

          i.github,
          i.demo {
            font-size: 23px;
            margin-inline-end: 15px;
            cursor: pointer;
            color: var(--main-color);
            transition: all 0.3s ease;

            &:hover {
              color: var(--text-color);
            }

            @include xs {
              margin-inline-end: 15px;
              font-size: 20px;
            }
          }

          i.demo {
            font-size: 22px;

            @include xs {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

}