@import "@/styles/mixins";
@import "@/styles/extends";

.works {
  padding: 50px 0 80px;

  @include xl {
    padding: 40px 0 70px;
  }

  @include md {
    padding: 40px 0 60px;
  }

  &.noPaddingTop {
    padding: 0 0 80px;

    @include xl {
      padding: 0 0 70px;
    }

    @include md {
      padding: 0 0 60px;
    }
  }

  h2 {
    font-size: 60px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    @include xl {
      font-size: 55px;
    }

    @include md {
      font-size: 50px;
    }

    @include sm {
      font-size: 45px;
    }

    @include xs {
      font-size: 40px;
    }

    span {
      flex-grow: 1;
      height: 1px;
      background-color: var(--main-color);
      transform: translate(25px);

      &:first-of-type {
        display: none;
        transform: translate(-25px);

        @include sm {
          display: inline;
        }
      }
    }
  }

  .works_container {
    margin-top: 80px;

    .work {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &:not(:first-of-type) {
        margin-top: 80px;
      }

      &:nth-of-type(even) {
        .work_info {
          padding-inline-start: 0;
          padding-inline-end: 40px;
        }
      }

      @include lg {
        flex-wrap: wrap;
      }

      .work_image {
        width: 55%;
        border: 1px solid #eee;
        border-radius: 8px;
        overflow: hidden;
        transition: all 0.3s ease;

        @include lg {
          width: 100%;
          margin-bottom: 10px;
          order: 1;
        }

        &:hover {
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.07);
        }

        .topbar {
          background-color: #fff;
          height: 40px;
          width: 100%;
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          position: relative;
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 20px;

          .actions {
            display: flex;
            align-items: center;

            span {
              display: inline-block;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              margin-inline-end: 10px;
              background-color: #000;

              &:first-of-type {
                background-color: #dd3531;
              }

              &:nth-of-type(2) {
                background-color: #e6a74c;
              }

              &:last-of-type {
                background-color: #4dd126;
              }
            }
          }

          .search {
            @include sm {
              display: none;
            }

            span {
              display: inline-block;
              width: 300px;
              height: 16px;
              padding: 2px 0 0;
              text-align: center;
              border-radius: 10px;
              background-color: #eee;
              font-size: 10px;
              color: #505050;
            }
          }

          .switch_view {
            border: 1px solid #eee;
            background-color: #eee;
            padding: 3px 5px;
            border-radius: 4px;
            animation: pulse 1.5s infinite;

            @include sm {
              pointer-events: none;
            }

            svg {
              width: 20px;
              height: 20px;
              cursor: pointer;
              margin: 0;

              &.hide {
                display: none;
              }
            }
          }
        }

        img {
          transition: all 1s linear;
          object-position: top;
          height: 420px;
          width: 100%;

          @include xl {
            height: 400px;
          }

          @include lg {
            height: 360px;
          }

          @include md {
            height: 320px;
          }

          @include xs {
            height: 275px;
          }

          &:hover {
            transition: all 4s linear;
            object-position: bottom;
          }
        }

        &.mobile_view {
          width: 35%;

          img {
            transition-duration: 5s;

            &:hover {
              transition-duration: 25s;
            }
          }

          .topbar .search {
            display: none;
          }
        }
      }

      .work_info {
        width: 45%;
        padding-inline-start: 40px;

        @include lg {
          width: 100%;
          margin-top: 10px;
          order: 2;
          padding-inline-start: 0;
        }

        small {
          color: var(--slate-color-dark);
          font-size: 16px;
          position: relative;
          top: 0px;
          margin-inline-start: 5px;
          // text-decoration: underline;
          margin-bottom: 10px;
          display: inline-block;
        }

        h3 {
          font-size: 40px;
          font-family: var(--font-mono);
          font-weight: bold;
          margin-bottom: 15px;

          @include lg {
            font-size: 36px;
          }

          a {
            color: inherit;
            transition: all 0.2s ease-in-out;
            display: flex;
            gap: 10px;
            align-items: center;

            svg {
              top: 0;
            }
          }

          @include md {
            font-size: 32px;
          }

          @include xs {
            font-size: 28px;
          }
        }

        .description {
          font-size: 15px;

          b {
            margin-top: 10px;
          }

          hr {
            margin-block: 15px;
          }

          ul {
            list-style: disc;
            padding-inline-start: 25px;

            li {
              &:last-of-type {
                margin-bottom: 10px;
              }
            }
          }

          @include md {
            font-size: 14px;
          }
        }

        p.stack {
          color: var(--bs-heading-color);
          font-family: var(--font-mono);
          margin-top: 20px;
          font-weight: bolder;
          text-decoration: underline;
          font-size: 14px;

          @include sm {
            margin-top: 10px;
          }
        }

        .bottom {
          margin-top: 20px;
          display: flex;
          justify-content: space-between;

          @include sm {
            margin-top: 0;
          }

          @include xs {
            flex-wrap: wrap;
          }

          ul {
            max-width: 70%;
            display: flex;
            padding: 0;
            margin: 0;

            @include sm {
              flex-wrap: wrap;
            }

            @include xs {
              width: 100%;
              margin-bottom: 10px;
            }

            li {
              cursor: auto;
              @include xs {
                margin-bottom: 10px;
              }

              a {
                cursor: auto;
              }

              img {
                width: 35px;
                height: 35px;
                margin-inline-end: 10px;
                cursor: auto;

                @include sm {
                  width: 30px;
                  height: 30px;
                }

                @include xs {
                  width: 24px;
                  height: 24px;
                }

                @include xxs {
                  width: 22px;
                  height: 22px;
                }
              }

              &.compitable {
                width: 35px;
                height: 35px;
                margin-inline-end: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                @extend %fancyIcon;

                @include sm {
                  width: 30px;
                  height: 30px;
                }

                @include xs {
                  width: 24px;
                  height: 24px;
                }

                @include xxs {
                  width: 22px;
                  height: 22px;
                }

                img {
                  object-fit: contain;
                  width: calc(100% - 6px);
                  height: calc(100% - 6px);
                  margin-inline-end: 0;
                }
              }
            }
          }

          svg.view {
            width: 16px;
            height: 16px;
            margin-inline-end: 5px;
            cursor: pointer;
            color: var(--main-color);
            transition: all 0.3s ease;
          }

          svg.github,
          svg.demo {
            width: 30px;
            height: 30px;
            margin-inline-end: 5px;
            cursor: pointer;
            color: var(--main-color);
            transition: all 0.3s ease;

            &:hover {
              color: var(--text-color);
            }

            @include xs {
              width: 22px;
              height: 22px;
            }
          }
        }
      }

      &:first-of-type {
        .work_image {
          background-color: var(--main-color);

          .topbar {
            display: none;
          }

          img {
            object-position: center;
          }
        }

        .work_info {
          .actions {
            border: 1px solid var(--main-color);
            color: var(--main-color);
            background-color: var(--main-color);
            padding: 10px 30px;
            cursor: pointer;
            font-size: 15px;
            transition: all 0.2s ease;
            border-radius: 4px;
            margin-top: 10px;

            a,
            svg {
              color: #fff;
              font-size: inherit;
              transition: all 0.2s ease;
              // cursor: auto;
            }

            svg {
              margin-inline-end: 5px;
            }

            &:hover {
              color: var(--main-color);
              background-color: transparent;

              a,
              svg {
                color: var(--main-color);
              }
            }
          }
        }
      }
    }
  }

  a.view_more {
    display: block;
    width: fit-content;
    margin-inline: auto;

    button {
      @extend %button;
      display: block;
      margin: 100px auto 0;
      font-family: var(--font-text);
      padding: 13px 60px;
      border-radius: 4px;
      font-size: 16px;
      background-color: transparent;
      border-color: var(--main-color);
      color: var(--main-color);

      i {
        color: inherit;
      }

      &:hover {
        background-color: var(--main-color);
        color: #fff;

        i {
          color: inherit;
        }
      }

      @include sm {
        display: block;
        margin: 70px auto 0;
        font-size: 15px;
        padding: 11px 40px;
      }
    }
  }
}

[data-bs-theme="dark"] {
  .works_container {
    .work {
      .work_image {
        border-color: var(--background-darky);

        &:hover {
          box-shadow: 0 0 40px rgba(255, 255, 255, 0.07);
        }

        .topbar {
          background-color: var(--slate-color-dark);

          svg {
            color: var(--slate-color);
          }
        }
      }
    }

    button {
      background-color: transparent;
      border-color: var(--slate-color-dark);
      color: var(--slate-color);

      i {
        color: inherit;
      }

      &:hover {
        background-color: var(--slate-color-dark);
        color: var(--background-dark);
        border-color: var(--slate-color-dark);

        i {
          color: inherit;
        }
      }
    }
  }
  a.view_more {
    button {
      background-color: transparent;
      border-color: var(--slate-color-dark) !important;
      color: var(--slate-color) !important;

      i {
        color: inherit;
      }

      &:hover {
        background-color: var(--slate-color-dark) !important;
        color: var(--background-dark) !important;
        border-color: var(--slate-color-dark) !important;

        i {
          color: inherit;
        }
      }
    }
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #eee;
    box-shadow: 0 0 0 0 #eee;
  }
  70% {
    -moz-box-shadow: 0 0 0 10px #eeeeee11;
    box-shadow: 0 0 0 10px #eeeeee11;
  }
  100% {
    -moz-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
  }
}
