@import "@/styles/mixins";

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);

  .wrapper {
    width: 95%;
    height: 95%;

    svg {
      font-size: 40px;
      position: absolute;
      top: 10px;
      right: 30px;
      cursor: pointer;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      border-radius: 8px;
    }
  }
}
