@import "@/styles/mixins";

.loader_container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--common-bg);
  z-index: 100;

  @include print {
    display: none;
  }

  &.hide {
    display: none;
  }

  .loader {
    font-size: 80px;
    color: var(--main-color);
    font-family: Array;
    display: inline-block;
    font-weight: 100;
    position: relative;

    @include sm {
      font-size: 50px;
    }

    &::after {
      content: "Loading...";
      position: relative;
      z-index: 5;
    }

    &::before {
      content: "";
      height: 10px;
      border: 1px solid;
      border-radius: 2px;
      width: calc(100% + 40px);
      position: absolute;
      bottom: 0px;
      left: -20px;
      background: linear-gradient(var(--main-color) 100%, transparent 0) no-repeat;
      background-size: 0% auto;
      animation: 3s lineGrow linear infinite;
    }
  }

  @keyframes lineGrow {
    to {
      background-size: 100% auto;
    }
  }

  .loader_braces {
    color: var(--main-color);
    font-family: Consolas, Menlo, Monaco, monospace;
    font-size: 200px;
    font-weight: 900;
    opacity: 0.8;
    position: absolute;
    top: 39%;

    @include sm {
      font-size: 74px;
      top: 46.5%;
    }

    &::before {
      content: "{";
      display: inline-block;
      animation: pulse 0.4s alternate infinite ease-in-out;
    }

    &::after {
      content: "}";
      display: inline-block;
      margin-inline-start: 310px;
      animation: pulse 0.4s 0.3s alternate infinite ease-in-out;

      @include sm {
        margin-inline-start: 250px;
      }
    }
  }

  @keyframes pulse {
    to {
      transform: scale(0.8);
      opacity: 0.5;
    }
  }
}
