@import "@/styles/mixins";
@import "@/styles/extends";

nav.navbar {
  padding: 15px 0 18px;
  background-color: var(--background-white);
  border-bottom: 1px solid var(--common-bg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9;
  transition: all 0.3s ease;

  &.scrolling {
    background-color: rgba(var(--common-bg-rgb), 0.75) !important;
    backdrop-filter: blur(16px);
    border-bottom-color: transparent;
    padding: 10px 0 14px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      // width: 48px;
      font-size: 75px;
      font-family: "Array";
      color: var(--text-color-tint);
      // position: relative;
      // top: -35px;
      // transform: rotate(-5deg);
      cursor: pointer;
      // transform-origin: bottom center;
      // animation: rotateLogo 3s linear infinite alternate;

      @include sm {
        font-size: 60px;
        top: -22px;
      }

      img {
        cursor: pointer;
        height: 48px;
        width: 48px;
      }
    }

    ul.links {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include md {
        display: block;
        position: fixed;
        box-shadow: 3px 0 10px rgba(0, 0, 0, 0.07);
        top: 0;
        left: -100%;
        padding: 30px 20px;
        background-color: var(--background-white);
        width: 50%;
        height: 100vh;
        z-index: 10;
        transition: all 0.4s ease-in-out;

        &.active {
          left: 0;
        }
      }

      @include sm {
        width: 70%;
      }

      @include xs {
        width: 100%;
      }

      li {
        padding: 5px 18px;
        cursor: pointer;
        font-family: var(--font-mono);
        color: var(--text-color);
        font-size: 15px;
        font-weight: 600;
        transition: all 0.3s ease;
        position: relative;

        a:hover {
          color: inherit;
        }

        &:not(:nth-last-of-type(2), :last-of-type) {
          &::after {
            content: "";
            display: block;
            width: 0;
            height: 2px;
            border-radius: 50%;
            background-color: var(--text-color);
            transition: all 0.3s ease;
          }
        }

        &:hover,
        &.active {
          font-weight: bold;

          &:not(:nth-last-of-type(2), :last-of-type) {
            &::after {
              width: 100%;
            }
          }
        }

        &:first-of-type {
          display: none;

          @include md {
            display: block;
          }
        }

        @include md {
          font-size: 18px;
          margin-bottom: 10px;
        }

        &:nth-last-of-type(2) {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          font-size: 17px;
          border: 1px solid #ccc;
          transition: all 0.3s ease;
          font-family: var(--font-text);

          @include md {
            margin-top: 10px;
          }

          @include md {
            margin-inline-start: 20px;
          }

          i {
            position: relative;
            top: 2.5px;
          }

          &:hover {
            background-color: var(--main-color);
            border-color: var(--main-color);
            color: #fff;

            i {
              color: #fff;
            }
          }
        }
      }

      .closeBtn {
        display: none;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 22px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          color: var(--background-dark);
        }

        @include md {
          display: block;
        }
      }
    }

    button {
      @extend %button;
      margin-inline-start: 10px;
      border-color: #ccc;
      color: var(--main-color);
      font-family: var(--font-text);
      background-color: transparent;

      i {
        color: inherit;
        position: relative;
        top: 2px;
      }

      &:hover {
        color: #fff;
        background-color: var(--main-color);

        i {
          color: inherit;
        }
      }

      @include md {
        padding: 8px 30px;
        margin-top: 15px;
        margin-inline-start: 0;
      }

      .loading-spinner {
        opacity: 0.75;

        &:before {
          animation: loading 0.6s linear infinite;
          display: inline-block;
        }
      }

      @keyframes loading {
        100% {
          transform: rotate(360deg);
        }
      }
    }

    .navbar__toggler {
      display: none;
      cursor: pointer;
      font-size: 20px;
      transition: all 0.3s ease;

      @include md {
        display: block;
      }
    }
  }
}

[data-bs-theme="dark"] {
  nav.navbar {
    background-color: var(--background-dark);

    .content {
      .logo {
        color: var(--secondary-tint);
      }

      ul.links {
        @include md {
          background-color: var(--background-darky);
        }

        .closeBtn:hover {
          color: var(--secondary-tint);
        }

        li {
          &:nth-last-of-type(2) {
            border-color: var(--main-color);

            &:hover {
              border-color: rgba(var(--slate-color-rgb), 0.5);
              background-color: rgba(var(--slate-color-rgb), 0.15);

              i {
                color: var(--secondary-color);
              }
            }
          }
        }

        button {
          color: var(--text-color-dark);
          border-color: var(--slate-color-dark);

          &:hover {
            background-color: rgba(var(--slate-color-rgb), 0.15);
          }
        }
      }

      .navbar__toggler:hover {
        color: var(--secondary-tint);
      }
    }
  }
}

@keyframes rotateLogo {
  from {
    transform: rotate(-5deg) scale(0.95);
  }

  to {
    transform: rotate(5deg) scale(1.05);
  }
}
